* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header styles */
.header-section {
    background-image: url('./images/banner/banner3.png');
    height: 597px;
    background-color: #005FAC;
    background-repeat: no-repeat;
    background-position: top;
    text-align: right;
    padding-top: 216px;
    padding-right: 230px;
    color: white;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
}

.header-description {
    font-weight: 400;
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 32px;
}

.btn-primary {
    color: #005FAC;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 20px 25px;
    border-radius: 5px;
}
/* main */
.main{
    max-width: 1500px;
    margin: 0 auto;
}
/* previous year failures */

.previous-year-failures{
    display: flex;
    justify-content: center;
    padding: 130px 250px 157px 205px;
}
.failures-details{
    margin: auto;
    padding-left:87px ;
}

.failures-title{
    font-size: 40px;
    font-weight: 800;
}
.failures-description{
    padding: 24px 0;
}
.failures-list{
    list-style:none;
    font-size: 18px;
    font-weight: 400;
    
}
.chackmark{
    height: 24px;
    width: 24px;
}
.plans-title{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 130px 656px 50px 656px;
}
.skills{
    display: flex;
    justify-content:space-around;
    padding: 0px 250px 135px 250px;
}
.works-name{
    font-size: 20px;
    font-weight: 700;
}
/* section positive  */
.positives{
    padding: 0px 230px 130px 230px;
}
.positive{
    background-image: linear-gradient(to left, rgba(0,0,255,0), rgba(0,0,255,0.5)),url('./images/watch.png');
    background-repeat: no-repeat;
    background-position:initial;
    background-size: contain;
    position: relative;
    max-height: 300px;
    padding: 60px 615px 15px 60px;
    color:white;
}
.positive-title{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}
.contact{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 580px;
    padding-top: 130px;
}
.contact-left-title{
    font-weight: 700;
    font-size: 45px;
}
.contact-left-description{
    padding-top: 16px;
    padding-bottom: 24px;
    padding-right: 330px;
}
.left-phone{
    padding-top: 16px;
    padding-bottom: 32px;
}
.twitter-icon{
    padding: 0 18px;
}
.your-email{
    margin-top: 30px;
    margin-bottom: 30px;
    background: none;
    width: 300px;
    padding: 15px;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
}
.blue-btn{
    background-color: #005FAC;
    color: white;
    width: 171px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 20px 25px;
    border-radius: 5px;
}